# --- Terraform ---
**/.terraform/
*.tfstate
*.tfstate.*
# Mantenemos esto para proteger tus contraseñas locales
*.tfvars
# ¡IMPORTANTE! Quité .terraform.lock.hcl del ignore. 
# Es buena práctica subirlo para que el Pipeline use exactamente las mismas versiones de proveedores.

# --- Secrets & Keys ---
*.pem
*.pub
# Protege archivos de entorno pero permite .env.example
.env
.env.*
!.env.example

# --- Node / NestJS ---
node_modules/
dist/
*.log
# En proyectos de equipo/QA, es mejor SÍ subir el package-lock.json 
# para evitar que el pipeline instale versiones de Prisma diferentes a las tuyas.
# package-lock.json  <-- (Recomiendo NO ignorarlo)

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/